/* =============================================================================
   LEAFLET STYLES
   forked from http://code.leafletjs.com/leaflet-0.3.1/leaflet.css
   ========================================================================== */

/* === Required Styles ============== */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer {
  position: absolute;
}

.leaflet-container {
  overflow: hidden;
}

.leaflet-tile-pane,
.leaflet-container {
  -webkit-transform: translate3d(0,0,0);
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

.leaflet-clickable {
  cursor: pointer;
}

.leaflet-container img {
  max-width: none !important;
}

.leaflet-tile-pane {
  z-index: 2;
}

.leaflet-objects-pane {
  z-index: 3;
}

.leaflet-overlay-pane {
  z-index: 4;
}

.leaflet-shadow-pane {
  z-index: 5;
}

.leaflet-marker-pane {
  z-index: 6;
}

.leaflet-popup-pane {
  z-index: 7;
}

.leaflet-zoom-box {
  height: 0;
  width: 0;
}

.leaflet-tile {
  visibility: hidden;
}

.leaflet-tile-loaded {
  visibility: inherit;
}

a.leaflet-active {
  outline: 2px solid orange;
}

/* === Leaflet Controls ============= */

.leaflet-control {
  position: relative;
  z-index: 7;
}

.leaflet-top,
.leaflet-bottom {
  position: absolute;
}

.leaflet-top {
  top: 2.8125em; /* 45px */
}

.leaflet-right {
  right: 0;
}

.leaflet-bottom {
  bottom: 0;
}

.leaflet-left {
  left: 0;
}

.leaflet-control {
  clear: both;
  float: left;
}

.leaflet-right .leaflet-control {
  float: right;
}

.leaflet-top .leaflet-control {
  margin-top: 10px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
  margin-left: 10px;
}

.leaflet-right .leaflet-control {
  margin-right: 10px;
}

.leaflet-control-zoom,
.leaflet-control-layers {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.leaflet-control-zoom {
  background: rgba(0, 0, 0, 0.25);
  padding: 5px;
}

.leaflet-control-zoom a {
  background-color: rgba(255, 255, 255, 0.75);
}

.leaflet-control-zoom a,
.leaflet-control-layers a {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

.leaflet-control-zoom a {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 19px;
  width: 19px;
}

.leaflet-control-zoom a:hover {
  background-color: #fff;
}

.leaflet-big-buttons .leaflet-control-zoom a {
  height: 27px;
  width: 27px;
}

.leaflet-control-zoom-in {
  background-image: url(../img/zoom-in.png);
  margin-bottom: 5px;
}

.leaflet-control-zoom-out {
  background-image: url(../img/zoom-out.png);
}

.leaflet-control-layers {
  background: #f8f8f9;
  box-shadow: 0 0 7px #999;
  -moz-box-shadow: 0 0 7px #999;
  -webkit-box-shadow: 0 0 7px #999;
}

.leaflet-control-layers a {
  background-image: url(../img/layers.png);
  height: 36px;
  width: 36px;
}

.leaflet-big-buttons .leaflet-control-layers a {
  height: 44px;
  width: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

.leaflet-control-layers-expanded {
  background: #fff;
  color: #333;
  padding: 6px 10px 6px 6px;
}

.leaflet-control-layers input {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

.leaflet-control-layers label {
  display: block;
}

.leaflet-control-layers-separator {
  border-top: 1px solid #ddd;
  height: 0;
  margin: 5px -10px 5px -6px;
}

.leaflet-container .leaflet-control-attribution {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #333;
  margin: 0;
  padding: 0.5em;
  font-size: 0.75em;
  bottom: 5em;
  right: 10px;
}

.leaflet-container .leaflet-control-attribution a {
  color: #333;
  border-bottom: 1px dotted #333;
}

/* === Fade Animations ============== */

.leaflet-fade-anim .leaflet-tile {
  opacity: 0;
  transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-tile-loaded {
  opacity: 1;
}

.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

.leaflet-zoom-anim .leaflet-tile {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.leaflet-zoom-anim .leaflet-objects-pane {
  visibility: hidden;
}

/* === Popup Layout ================= */

.leaflet-popup {
  position: absolute;
  text-align: center;
  -webkit-transform: translate3d(0,0,0);
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
}

.leaflet-popup-content {
  margin: 19px;
}

.leaflet-popup-tip-container {
  margin: 0 auto;
  height: 16px;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.leaflet-popup-tip {
  height: 15px;
  margin: -8px auto 0;
  padding: 1px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 15px;
}

.leaflet-popup-close-button {
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 9px;
  width: 10px;
}

.leaflet-popup-content p {
  margin: 18px 0;
}

/* === Visual Appearance ============ */

.leaflet-container {
  background: #ddd;
}

.leaflet-container a {
  color: #0078A8;
}

.leaflet-zoom-box {
  background: #fff;
  border: 2px dotted #05f;
  opacity: 0.5;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #fff;
  box-shadow: 0 1px 10px #888;
  -moz-box-shadow: 0 1px 10px #888;
  -webkit-box-shadow: 0 1px 14px #999;
}

.leaflet-popup-content-wrapper {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.leaflet-popup-content {
  font: 12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-popup-close-button {
  background: #fff url(../img/popup-close.png);
}